div.slideshow {
  border: 1px dotted #888888;
}

div.slideshow div.navigation {
  margin-left: 5px;
  margin-top: 3px;
}

div.slideshow div.navigation a {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  margin-right: 5px;
}

div.slideshow div.navigation a.current_slide {
  background: black;
  color: white;
}
